.mystyle {
    font-size: 11pt;
    font-family: Arial;
    border-collapse: collapse;
    border: 1px solid silver;
    width:50%
    text-align: center;

}

.mystyle td, th {
    padding: 5px;
    text-align: center;
}

.mystyle tr:nth-child(even) {
    background: #E0E0E0;
}

.mystyle tr:hover {
    background: silver;
    cursor: pointer;
    text-align: center;
}